/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-title {
  text-align: center;
  font-size: 24px; 
  margin-bottom: 20px; 
}


.grid-form {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select {
  width: 94%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin-right: 5px;
}

.error {
  color: #ff0000;
  font-size: 12px;
  display: none;
}

button[type="button"],
button[type="reset"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

button[type="reset"] {
  background-color: #f44336;
}

.clearfix {
  clear: both;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#popupContent {
  margin-top: 20px;
}

/* Media Query for mobile responsiveness */
@media (max-width: 600px) {
  .grid-form {
    padding: 10px;
  }

  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="tel"],
  select {
    padding: 8px;
  }

  button[type="button"],
  button[type="reset"] {
    padding: 8px 15px;
    font-size: 14px;
  }
}
